---
- name: Playbook to set up the Openshift Cluster with IBM GPFS
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../../../overrides.yml
  tasks:
    - name: Print installation info
      ansible.builtin.debug:
        msg: |
          ============================================================
          Installing AWS OCP Cluster with IBM GPFS
          ============================================================
          OCP Configuration:
            Region: {{ ocp_region }}
            Cluster: {{ ocp_cluster_name }}.{{ ocp_domain }}
            Workers: {{ ocp_worker_count }} x {{ ocp_worker_type_effective | default(ocp_worker_type) }}
            AWS Profile: {{ aws_profile }}
          
          GPFS Configuration:
            Operator: IBM Spectrum Scale Container Native
            Version: {{ gpfs_version | default('latest') }}
          ============================================================

    # ======================================================================
    # Phase 1: Common OCP Installation (shared with install-hitachi.yml)
    # ======================================================================
    - name: Include common OCP installation tasks
      ansible.builtin.include_tasks: ../common/_ocp-install-common.yml

    # ======================================================================
    # Phase 2: AWS Infrastructure Setup (GPFS-specific ports and storage)
    # ======================================================================
    - name: Gather security group info for workers
      tags:
        - 2_aws
      amazon.aws.ec2_security_group_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          "tag:sigs.k8s.io/cluster-api-provider-aws/role": "node"
          "tag:Name": "{{ ocp_cluster_name }}-*"
      register: sg_info

    - name: Debug sg_info
      tags:
        - 2_aws
      ansible.builtin.debug:
        msg: "{{ sg_info }}"

    - name: Set sg id
      tags:
        - 2_aws
      ansible.builtin.set_fact:
        sg_worker_id: "{{ sg_info.security_groups[0].group_id }}"
        sg_worker_name: "{{ sg_info.security_groups[0].group_name }}"
        sg_worker_description: "{{ sg_info.security_groups[0].description }}"
      when: sg_info.security_groups | length > 0

    # See https://www.ibm.com/docs/en/scalecontainernative/5.2.2?topic=aws-red-hat-openshift-configuration#authorize-rosa-worker-security-group-to-allow-ibm-storage-scale-container-native-ports
    - name: Open up default security groups so gpfs can work in AWS
      tags:
        - 2_aws
      amazon.aws.ec2_security_group:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: "{{ sg_worker_name }}"
        description: "{{ sg_worker_description }}"
        rules:
          - proto: tcp
            ports:
              - 12345
              - 1191
              - 60000-61000
            group_id: "{{ sg_worker_id }}"
            rule_desc: GPFS ports
        purge_rules: false
      when: sg_info.security_groups | length > 0

    # ======================================================================
    # Phase 3: EBS Storage Setup (GPFS-specific)
    # ======================================================================
    # FIXME(bandini): this will need to be more robust
    - name: Find OpenShift EC2 Instances
      tags:
        - 3_ebs
      amazon.aws.ec2_instance_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          "tag:Name": "{{ ocp_cluster_name }}*worker*"
          "instance-state-name": "running"
      register: ec2_workers

    - name: Set EC2 workers instance IDs
      tags:
        - 3_ebs
      ansible.builtin.set_fact:
        worker_ec2_ids: "{{ ec2_workers.instances | map(attribute='instance_id') | list }}"

    - name: Create EBS io2 volume
      tags:
        - 3_ebs
      amazon.aws.ec2_vol:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        availability_zone: "{{ ocp_az }}"
        volume_size: "{{ ebs_volume_size }}"
        volume_type: "{{ ebs_volume_type }}"
        multi_attach: true
        iops: "{{ ebs_iops }}"
        tags:
          Name: "{{ gpfs_volume_name }}"
          Owner: "{{ ocp_owner }}"
      register: ebs_volume

    - name: Attach EBS volume to workers
      tags:
        - 3_ebs
      amazon.aws.ec2_vol:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        instance: "{{ item }}"
        id: "{{ ebs_volume.volume_id }}"
        device_name: "{{ ebs_device_name }}"
      loop: "{{ worker_ec2_ids }}"
      when: ebs_volume.volume_id is defined

    - name: Create EBS io2 volume (2)
      tags:
        - 3_ebs
      amazon.aws.ec2_vol:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        availability_zone: "{{ ocp_az }}"
        volume_size: "{{ ebs_volume_size_two }}"
        volume_type: "{{ ebs_volume_type_two }}"
        multi_attach: true
        iops: "{{ ebs_iops_two }}"
        tags:
          Name: "{{ gpfs_volume_name_two }}"
          Owner: "{{ ocp_owner }}"
      register: ebs_volume_two
      when: baremetal_env | bool

    - name: Attach EBS volume to workers (2)
      tags:
        - 3_ebs
      amazon.aws.ec2_vol:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        instance: "{{ item }}"
        id: "{{ ebs_volume_two.volume_id }}"
        device_name: "{{ ebs_device_name_two }}"
      loop: "{{ worker_ec2_ids }}"
      when: ebs_volume_two.volume_id is defined and baremetal_env | bool

    # ======================================================================
    # Phase 4: GPFS Installation
    # ======================================================================
    # Installs GPFS with the openshift-storage-scale operator
    - name: Install gpfs bits
      tags:
        - 4_gpfs_install
      ansible.builtin.import_tasks: ../common/operator-install.yml

    # ======================================================================
    # Phase 5: GPFS Configuration
    # ======================================================================
    # Creates localdisk + filesystem + test environment
    - name: Setup gpfs bits
      tags:
        - 5_gpfs_config
      ansible.builtin.import_tasks: gpfs-setup.yml
