---
- name: Get OpenShift worker nodes
  hosts: localhost
  become: false
  gather_facts: false
  vars_files:
    - ../overrides.yml
  tasks:
    - name: Get Openshift worker nodes
      ansible.builtin.import_tasks:
        file: workers.yml
    - name: Export all node data to a JSON file
      copy:
        content: "{{ node_list | to_nice_json }}"
        dest: "./openshift_nodes_info.json"
    - name: Debug worker IDs
      debug:
        var: worker_ec2_ids
